<app-user-header title="Employee" link="employee"></app-user-header>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center mt-3 mb-3">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form" class="customAlign">
              <h3>Create/Modify Product</h3>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon [cIcon]="icons.cilBarcode"></svg>
                </span>
                <input id = "codeField"
                  autoComplete="code"
                  cFormControl
                  placeholder="Code"
                  formControlName="code"
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon [cIcon]="icons.cilPencil"></svg>
                </span>
                <input id="nameField"
                  formControlName="name" 
                  autoComplete="name" 
                  cFormControl 
                  placeholder="Name" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon [cIcon]="icons.cilAlignCenter"></svg>
                </span>
                <input id="descField"
                  formControlName="description"
                  autoComplete="description" 
                  cFormControl 
                  placeholder="Description" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon [cIcon]="icons.cilDollar"></svg>
                </span>
                <input id="priceField"
                  autoComplete="price"
                  cFormControl
                  placeholder="Price"
                  type="input"
                  formControlName="price"
                />
              </c-input-group>
              <div class="d-grid">
                <button id="btnCreateProduct"
                (click)="createProduct()"
                class="customButton" 
                cButton 
                color="primary">
                  Create Product
                </button>
              </div>
              <div class="d-grid" style="margin-top: 10px; ">
                <button  id="btnModifyProduct"
                (click)="modifyProduct()"
                class="customButton" 
                cButton 
                color="primary">
                  Modify Product
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>